<nav>
  <div class="logo-section">
    <img class="logo" src="assets/logo.png" alt="Logo Alco-Check">
    <h2>Alco-Check</h2>
  </div>

  <div class="menu-toggle" (click)="menuOpen = !menuOpen">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <ul class="links-section" [class.open]="menuOpen">
    <li><a href="#video" (click)="closeMenu()">Video</a></li>
    <li><a href="#como-funciona" (click)="closeMenu()">Como funciona</a></li>
    <li><a href="#Mision-vision" (click)="closeMenu()">Mision y vision</a></li>
    <li><a href="#preguntas" (click)="closeMenu()">Preguntas frecuentes</a></li>
    <li><a href="#correo" (click)="closeMenu()">Correo</a></li>
  </ul>
</nav>