<nav>
  <div class="logo-section">
    <img class="logo" src="assets/logo.png" alt="Logo Alco-Check">
    <h2>Alco-Check</h2>
  </div>

  <div class="menu-toggle" id="mobile-menu">&#9776;</div> <!-- ícono hamburguesa -->

  <ul class="links-section" id="nav-links">
    <li><a href="#video">Video</a></li>
    <li><a href="#como-funciona">Como funciona</a></li>
    <li><a href="#Mision-vision">Mision y vision</a></li>
    <li><a href="#preguntas">Preguntas frecuentes</a></li>
    <li><a href="#correo">Correo</a></li>
  </ul>
</nav>
